p.admin-restaurants-title {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

p.admin-access {
    font-size: 20px;
}

button.back-to-restaurants {
    margin-right: 30px;
}

div.buttom-admin-happy-hour {
    margin-top: 30px;
}
