.restaurantListingTitle {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    color: white;
}

.restaurantListingImage {
    background-size: 1000px 1700px;
    padding-top: 50px;
    background-position: center;
    background-repeat: 'no-repeat';
}
