@font-face {
  font-family: 'BadScript';
  src: local('BadScript'),
    url('../assets/fonts/BadScript-Regular.ttf') format('truetype');
}

.restaurant-listing-container {
  padding-top: 50px;
  height: 100%;
  background-color: #121212;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #121212;
  position: fixed;
  z-index: -1;
}
