.inputField {
  position: relative;
}

.inputL {
<<<<<<< HEAD
  width: 10.5em;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(236, 32%, 26%);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
=======
    width: 10.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(236, 32%, 26%);
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
>>>>>>> 31b1c0eee249cb20ed25ec3ee15e596f5dd1b9be
}

.inputL:focus {
  outline: none;
}

.inputL::placeholder {
  color: white;
}

#span {
  position: absolute;
  background-color: #eea55d;
  transition: transform 1s ease;
}

.bottom,
.top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.inputL:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
}

.inputL:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
}

.inputL:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
}

.inputL:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}

/* Submit Button */
#button-login {
  margin-left: 2.5rem;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 3.5em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

#button-login::before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #8f8d3c;
  transform-origin: center;
  transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

#button-login:hover {
  cursor: pointer;
  color: #161616;
  border-radius: 12px;
  transition: 2s ease-out;
}

#button-login:hover::before {
  transform: translate3d(300%, 50%, 0) scale3d(15, 15, 15);
}
