@font-face {
    font-family: 'BadScript';
    src: local('BadScript'),
        url('../../assets/fonts/BadScript-Regular.ttf') format('truetype');
}

.project-card-blueprint:hover {
    cursor: pointer;
}

.restListingCompName {
    font-size: 20px;
}

.project-card-blueprint {
    box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
    margin-bottom: 50px;
    border-radius: 100px;
}

div.project-name-description {
    background-color: #ece7db;
    color: black;
}

.project-name-description {
    background-color: black;
    border-radius: 5px;
    height: 350px;
    width: 100%;
    padding: 0;
}

p.projects-title {
    text-align: center;
    margin: 50px 0;
    font-size: 25px;
    font-weight: 700;
    font-family: 'BadScript';
}

p.project-happy-hour {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
}

.project-description {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
}

p.project-category {
    padding: 20px 10px;
    text-align: center;
}

.project-image {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

button.detail-restaurant-button {
    display: block;
    margin: auto;
}
